/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* all similar content styling codes */
.about, .combat, .skill, .contact, footer{
    font-family: 'Poppins', sans-serif;
}


.combat{
    background-color: #111;
    background-size: cover;
    background-attachment: fixed;
}
.combat h1{
    color: #fff;
    margin-top: 4vh;
    font-size: 40px;
    text-align: center;
}
.combat .subtitle {
    color: #fff;
    margin-top: -9vh;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
.combat h2 span{
    font-size: 15px;
    font-weight: 500;
}
.combat h3{
    color: #fff;
    margin-top: 4vh;
    font-size: 25px;
}
.combat .h4{
  margin-top: 50px;
}
.combat .box{
    margin-top: 5px;
    display: inline-flex;
}
.combat .box .left{
    color: #fff;
    width: 60%;
}
.combat .box .right{
    color: #fff;
    width: 40%;
    margin-left: 80px;
}
.combat .box .left .ul{
margin-top: 20px;
}
.combat .box .left1{
    color: #fff;
    width: 50%;
}
.combat .box .right1{
    color: #fff;
    width: 50%;
    margin-left: 80px;
}
.combat a{
    color: crimson;
}
.combat a:hover{
    text-decoration: underline;
}
.combat .box .right1 ul{
    font-size: 13px;
    word-spacing: 2px;
    line-height: 24px;
}
.combat .box .right1 ul li span{
    color: crimson;
    font-size: 15px;
    font-weight: 600;
}
.combat iframe{
    margin-top: 15px;
}
.combat ul{
    color: #fff;
    font-size: 15px;
    word-spacing: 2px;
    line-height: 24px;
}
.combat .li{
margin-top: 15px;
}
.combat li b{
    text-decoration: underline;
}
.combat p span{
    color: #fff;
    font-weight: 800;
}
.combat p{
    margin-top: 10px;
    color: #fff;
}
.combat .iframe{
    text-align: center;
}