/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* all similar content styling codes */
.about, .services, .skills, .game, .contact, .footer{
    font-family: 'Poppins', sans-serif;
}

/* game section styling */
.level{
    background-image: url('../Images/home.Section.jpg');
    background-size: cover;
    background-attachment: fixed;
}